{{!-- card style view for each comment --}}
<div class="card-header">
  <div class="card-title">
  <h6>Comments</h6>
  <h7 class="card-subtitle">Posted by {{user.username}} on {{format_date created_at}}</h7>
  </div>
  <div class="card-body">
    <p>{{comment}}</p>
  </div>
</div>