{{!-- card style view for each comment --}}
<div id="background">
  <div id="spacing" class="comments">
    <div class="border-left">
      <h6 class="margin">Posted by {{User.username}} on {{format_date created_at}}</h6>
      <p class="margin">{{comment}}</p>
    </div>
  </div>
</div>