{{!-- card style view for each post shown on dashboard --}}
<div class="card">
  <div class="card-header">
    <h3><a href="/dashboard/edit/{{id}}">{{header}}</a></h3>
    <h4>{{body}}</h4>
  </div>
  {{#each comments as |comment|}}
    {{> comment comment}}
    {{/each}}
</div>