<div>
  <h3 >Create New Post</h3>
  <form class="create-post-form">
    <label for="create-header">Title</label>
    <input id="create-header" type="text"/>
    <label for="create-body">Content</label>
    <input id="create-body" type="text"/>
    <button type="submit">Create</button>
  </form>
</div>


<script src="../js/create.js"></script>