<div>
    <h2>My Posts</h2>
    <p>Click on a post to edit or delete it!</p>
</div>
{{#if posts.length}}
<div>
    {{#each posts as |post|}}
    {{> dashboard-posts post}}
    {{/each}}
</div>
{{/if}}

<button type="submit"><a href="/dashboard/create">Add New Post</a></button>

