{{!-- view of an individual user's dashboard --}}
<div>
    <h2 class="h2">MY POSTS</h2>
    {{#if posts.length}}
    <p id="edit">Click on a post to edit or delete it!</p>
    {{else}}
    <p>You don't have any posts yet. Get started by clicking the 'Add New Post' button below!</p>
    {{/if}}
</div>
<div class="h2">
    <button id="btn" class="btn-lg" type="submit"><a href="/dashboard/create">Add New Post</a></button>
</div>
<div>
    {{#each posts as |post|}}
    {{> dashboard-posts post}}
    {{/each}}
</div>
