{{!-- view for editing or deleting a post --}}
<div>
    <h3 class="h2">EDIT POST</h3>
    <form id="edit-post-form">
        <div class="create">
            <label for="title">Title</label>
            <br>
            <input id="title" type="text" value="{{header}}" />
        </div>
        <div class="create">
            <label for="content">Content</label>
            <br>
            <textarea id="content" rows="4" value="{{body}}" ></textarea>
        </div>
        <div class="create">
            <button class="submit" type="submit">Update Post</button>
        </div>
    </form>
    <br>
    <br>
    <div id='break' class="create">
        <button id="delete" type="click">Delete Post</button>
    </div>
</div>




<script src="/js/edit.js"></script>
<script src="/js/delete.js"></script>