<div>
    <h3>Edit Post</h3>
    <form class="edit-post-form">
        <label for="post-header">Title</label>
        <input id="post-header" type="text" value="{{header}}"/>
        <label for="post-body">Content</label>
        <input id="post-body" type="text" value="{{body}}"/>
        <button type="submit">Update Post</button>
    </form>
</div>

<button id="delete-post" type="submit">Delete Post</button>

<script src="../public/js/edit.js"></script>
<script src="../public/js/delete.js"></script>