<div>
    <h3>Edit Post</h3>
    <form>
        <label >Title</label>
        <input name="" type="text" value="{{post.header}}"/>
        <label>Content</label>
        <input name="" type="text" value="{{post.body}}"/>
        <button type="submit">Update Post</button>
    </form>
</div>

<button type="submit">Delete Post</button>

<script src="../public/js/edit.js"></script>
<script src="../public/js/delete.js"></script>