{{!-- view for editing or deleting a post --}}
<div>
    <h3>Edit Post</h3>
    <form id="edit-post-form">
        <label for="title">Title</label>
        <input id="title" type="text" value="{{header}}" />
        <label for="content">Content</label>
        <input id="content" type="text" value="{{body}}" />
        <button type="submit">Update Post</button>
    </form>
    <br>
    <br>
    <button id="delete" type="click">Delete Post</button>
</div>




<script src="/js/edit.js"></script>
<script src="/js/delete.js"></script>