{{!-- view for user's to log in to site --}}
<div class="card">
    
  <h3 class="card-header">Login</h3>

  <div class="card-body indent">
    <form  id="login-form" >
    <label for="username-login">Username</label>
    <input type="text" id="username-login"/>
    <label for="password-login">Password</label>
    <input type="password" id="password-login"/>
    <button class="submit" type="submit">Submit</button>
  </form>
  </div>

</div>

<div id="bump" class="create">
  <button class="submit"><a id="last" href="/signup">Sign up</a></button>
</div>


<script src="/js/login.js"></script>