<div class="card-header">
  <div class="card-title">
  <h2>{{post.header}}</h2>
  <h5 class="card-subtitle">Posted by {{user.username}} on {{format_date post.created_at}}</h5>
  </div>
  <div class="card-body">
    <p>{{post.body}}</p>
  </div>
</div>
<div>
  <div>
    <div>
    {{#each comments as |comment|}}
    {{> comment}}
    {{/each}}
</div>
  </div>
</div>
<form class="create-comment-form">
  <label for="comment">Add a Comment</label>
  <input id="comment" type="text">
  <button type="submit">Submit</button>
</form>

<script src="/js/comment.js"></script>