<div>
  {{> homepage-posts post}}
</div>
<div>
    {{#each comments as |comment|}}
    {{> comment post.comments}}
    {{/each}}
</div>
<form class="create-comment-form">
  <label for="comment">Add a Comment</label>
  <input id="comment" type="text">
  <button type="submit">Submit</button>
</form>

<script src="../public/js/comment.js"></script>