<div class="card">

  <h3 class="card-header">Sign Up</h3>

  <div class="card-body">
    <form>
      <label>Username</label>
      <input type="text" />
      <label>Password</label>
      <input type="password" />
      <button type="submit">Submit</button>
    </form>
  </div>
  
</div>

<script src="../public/js/signup.js"></script>