{{!-- view for signing up a new user --}}
<div id="signup" class="card">

  <h3 class="card-header">Sign Up</h3>

  <div class="indent card-body">
    <form id="signup-form">
      <label for="username-signup">Username</label>
      <input type="text" id="username-signup"/>
      <label for="password-signup">Password</label>
      <input type="password" id="password-signup"/>
      <button class="submit" type="submit">Submit</button>
    </form>
  </div>
  
</div>

<script src="/js/signup.js"></script>